body {
  padding-left: 23px;
  padding-right: 23px;
}
.header-intro {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid #00000014;
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: #d5e4f7;
  border-radius: 100px;
  color: #212830;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.username {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
.user-links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.user-link {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.link {
  color: #5558fa;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.intro-form-container {
  padding-top: 25px;
  align-items: flex-start;
}
.btn-start {
  padding: 12px 16px;
  margin-top: 55px;
  background-color: #5558fa;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}
